.enlaceTwitter {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: crimson;
  font-weight: bolder;
  text-decoration: none;
  background-color: darkblue;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

body {
  background-color: darkslategray;
  margin: 0;
  background-image: url('/ig.ico');
  background-repeat: no-repeat;
  background-size: cover;
}

.caja{
    width: 100px;
    height: 100px;
    background-image: url('/snc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition-duration: 1s;
    cursor: pointer;

    &:hover{
        transform: scale(1.2) rotate(30deg);
        background-image: url('/pin.png');
    }

}
