body{
    margin-top: 10%;
    background-color: gray;
}

.tarjeta{
    background-color: lightgray;
    outline-style: auto;
    outline-color: black;
    outline-width: thick;
    width: 60%;
    margin-left: 20%;

    &:hover{
        animation: float 1s ease-in-out infinite;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }

}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5%); }
  100% { transform: translateY(0); }
}

.foto{
    width: 30%;
    margin-left: 35%;
    margin-top: 1%;
}

.titulo{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 35%;
}

.descripcion{
    font-size: medium;
    margin-left: 35%;
    margin-bottom: 1%;
}